<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style>

::-moz-selection { background: lightblue; }
::selection { background: lightblue; }

h3.white{
    color: white;
}
li{
    color: white;
}

.carousel {
  width:640px;
  height: auto;
  margin: auto;
}


p{
font-family: 'Germania One', cursive;
color: dodgerblue;
}
a{
font-family: 'Germania One', cursive;
}
div{
font-family: 'Germania One', cursive;
}

ul.menu {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



.bot{
    font-size: 20px;
    clear: both;
    position: relative;
    z-index: 10;
    height: 1emvw;
    margin-top: 0em;
    color: darkblue;
    font-family: monospace;
    vertical-align: text-top;
    text-align: center;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: skyblue;
    color: black;
}

.article{
    color: darkblue;
    margin: 40px;
    text-align: center;
}

h1.white{
    color: white;
}

h1.name{
    font-size: 100px;
    font-size: 7vw;
    margin: 0;
    text-align: center;
    font-family: monospace;
    
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 6s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

h2.contact{
    font-size: 30px;
    font-size: 2vw;
    color: deepskyblue;
    margin: 0;
    text-align: center;
    font-family: monospace;
}

h3.name{
    font-size: 50px;
    color: white;
    margin: 0;
    text-align: center;
    font-family: monospace;
}

h3.sec{
    font-size: 50px;
    color: dodgerblue;
    margin: 0;
    text-align: center;
    font-family: monospace;
}

h2.sub{
    font-size: 40px;
    color: deepskyblue;
    margin: 0;
    text-align: center;
    font-family: monospace;
}


.mod{
    margin: 20px;
    align-content: center;    
}
div.img {
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 326px;
    height: 353px;
}

div.img:hover {
    border: 1px solid #777;
    background-color: white;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: skyblue
}
a{
    color: white;
}
a:hover{
    color: skyblue;
}
a:active{
    color: beige;
}

a.pat{
    color: black;
}
a.pat:hover{
    color: white;
}
a.pat:active{
    color: beige;
}

a.link{
    color: cadetblue;
}
a.link:hover{
    color: darkcyan;
}
a.link:active{
    color: darkslategray;
}

.icon-link {
  width: 60px;
  height: 60px;
  background-color: #666;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
  background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
  background-color: #fff;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
  background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
  background-color: #fff;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.reddit {
  background-color: #8bbbe3;
}
.icon-link.fill.reddit:hover {
  background-color: #fff;
}
.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
  background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
  background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
  background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
  background-color: #fff;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.github {
  background-color: #444;
}
.icon-link.fill.github:hover {
  background-color: #fff;
}
.icon-link.fill.github:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: #fff;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.soundcloud {
  background-color: #f50;
}
.icon-link.fill.soundcloud:hover {
  background-color: #fff;
}
.icon-link.fill.soundcloud:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background-color: #fff;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
  border: 2px solid #32506d;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
  border: 2px solid #dd4b39;
}
.icon-link:hover.reddit {
  border: 2px solid #8bbbe3;
}
.icon-link:hover.youtube {
  border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
  border: 2px solid #b81621;
}
.icon-link:hover.github {
  border: 2px solid #444;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.soundcloud {
  border: 2px solid #f50;
}
.icon-link:hover.instagram {
  border: 2px solid #f50;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-instagram {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
            body{
                background-image: url("../images/img.jpg");
                background-repeat: no-repeat;
                background-size: auto;
                background-attachment: fixed;
                background-color: green;
            }
            a{
                color:orange;
            }
            p{
                color: black;    
                font-family: 'Germania One', cursive;
                font-size: 25px;
            }
